@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

.pageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;

    .layoutContainer {
        position: relative;
        display: flex;
        flex-grow: 1;
        width: 100%;
        height: 100%;

        .brandContainer {
            position: relative;
            background-image: url("assets/photo-1665037935112-ff9a01c93f9b.avif");
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1;
            color: #fff;
            filter: drop-shadow(0 0 36px rgba(0, 0, 0, 0.25));
            z-index: 2;

            .lockup {
                display: flex;
                gap: 24px;
                padding: 80px 0;
                width: 100%;
                align-items: center;
                justify-content: center;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 8px;
                    filter: invert(1) drop-shadow(0 0 80px rgba(0, 0, 0, 0.5));
                }

                h1 {
                    font-size: 48px;
                    line-height: 40px;
                    font-weight: 550;
                    filter: drop-shadow(0 0 32px rgba(0, 0, 0, 0.5));
                    letter-spacing: -0.03em;
                    font-feature-settings: "ss01";
                }
            }
            p {
                font-size: 12px;
                font-weight: 300;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.8));
            }
        }

        .formContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 2;
            gap: 36px;
            background-color: #eee;
            z-index: 1;

            .brandMessage {
                display: flex;
                flex-direction: column;
                gap: 16px;
                font-size: 24px;
                font-weight: 550;
                letter-spacing: -0.02em;
                max-width: 40ch;
                padding: 48px 48px;

                p:last-child {
                    color: #666;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .formArea {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    padding: 48px;
                    background-color: #fff;
                    filter: drop-shadow(0 16px 16px rgba(0, 0, 0, 0.125));

                    * {
                        max-width: 640px;
                    }

                    h1 {
                        position: relative;
                        margin-bottom: 24px;
                        font-size: 80px;
                        font-weight: 700;
                        letter-spacing: -0.05em;
                        color: #bbb;
                    }

                    fieldset {
                        display: flex;
                        gap: 24px;
                        width: 100%;

                        &:last-child {
                            margin-top: 24px;
                        }

                        div {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            gap: 4px;

                            label {
                                font-size: 12px;
                                font-weight: 550;
                                letter-spacing: 0.1em;
                                text-transform: uppercase;
                            }

                            input {
                                border: 1px solid #bbb;
                                border-radius: 8px;
                                padding: 12px 16px;
                                font-size: 16px;
                                font-weight: 550;

                                &:focus {
                                    outline: 2px solid rgb(20, 80, 20) !important;
                                    box-shadow: 0px 2px 24px rgba(20, 80, 20, 0.5);
                                }

                                &:invalid {
                                    outline: 2px solid #f00 !important;
                                }
                            }
                            input:invalid ~ .errorMessage {
                                opacity: 1;
                            }

                            .errorMessage {
                                opacity: 0;
                                color: #f00;
                                font-size: 12px;
                                transition: opacity 0.3s ease-in-out;
                            }
                        }
                    }
                }

                .buttonsArea {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    padding: 24px 48px;

                    button {
                        width: fit-content;
                        padding: 12px 24px;
                        font-size: 16px;
                        font-weight: 550;
                        border-radius: 8px;
                        background-color: #333;
                        color: #fff;
                        cursor: pointer;
                        transition:
                            filter 0.3s ease-in-out,
                            transform 0.3s ease-in-out;

                        &:hover {
                            transition:
                                filter 0.1s ease-in-out,
                                transform 0.1s ease-in-out;
                            transform: scale(1.1);
                            filter: brightness(1.5) drop-shadow(0 0 12px rgba(0, 0, 0, 0.5));
                        }

                        &:active {
                            transition:
                                filter 0.05s ease-in-out,
                                transform 0.05s ease-in-out;
                            transform: scale(1.05);
                            filter: brightness(2) drop-shadow(0 0 12px rgba(0, 0, 0, 0.5));
                        }
                    }

                    p {
                        font-size: 14px;
                        font-weight: 550;

                        a {
                            font-weight: 750;
                            color: #000;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .resultArea {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 48px;
            background-color: #fff;
            filter: drop-shadow(0 16px 16px rgba(0, 0, 0, 0.125));
        }
    }
}
